

ul {
  list-style: none;
}

.card {
  padding: 2em;
  margin: 10px;
}

h2 {
  padding: 10px;
}

.container-div {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.display-users {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}
